antlr4-python3-runtime==4.8
anyio==2.0.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bertviz==1.0.0
bleach==3.2.1
blessings==1.7
blis==0.7.4
boto3==1.17.64
botocore==1.20.64
catalogue==2.0.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
click==7.1.2
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
dataclasses==0.6
datasets==1.5.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
docx==0.2.4
entrypoints==0.3
fairseq==0.10.2
fastBPE==0.1.0
feedparser==6.0.2
filelock==3.0.12
fsspec==0.9.0
gpustat==0.6.0
huggingface-hub==0.0.7
hydra-core==1.0.5
idna==2.10
importlib-resources==5.0.0
ipdb==0.13.7
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyter-server==1.1.3
jupyterlab==3.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.0.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.4.1
mistune==0.8.4
more-itertools==8.7.0
multiprocess==0.70.11.1
murmurhash==1.0.5
nbclassic==0.2.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nltk==3.5
notebook==6.1.6
numpy==1.19.4
nvidia-ml-py3==7.352.0
omegaconf==2.0.5
packaging==20.8
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
pathy==0.5.0
pattern3==3.0.0
pdfminer.six==20201018
pdfminer3k==1.3.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
ply==3.11
portalocker==2.0.0
portend==2.7.1
preshed==3.0.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
psutil==5.8.0
ptyprocess==0.7.0
pyarrow==3.0.0
pycparser==2.20
pydantic==1.7.3
Pygments==2.7.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4b2
pyzmq==20.0.0
regex==2020.11.13
requests==2.25.1
s3transfer==0.4.2
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
sentence-transformers==0.4.0
sentencepiece==0.1.94
sgmllib3k==1.0.0
simplejson==3.17.2
six==1.15.0
smart-open==3.0.0
sniffio==1.2.0
sortedcontainers==2.3.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.4
srsly==2.4.1
tempora==4.0.2
terminado==0.9.1
testpath==0.4.4
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.2
torch==1.7.1
tornado==6.1
tqdm==4.49.0
traitlets==5.0.5
transformers==4.1.1
typer==0.3.2
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.26.2
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xxhash==2.0.0
zc.lockfile==2.0
